In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
import numpy as np
import pandas as pd

In [3]:
import numpy as np 
import pandas as pd

import sys
sys.path.append("..")
import argparse
from   os.path import abspath
import gc
import os
from scipy.optimize import linear_sum_assignment

In [4]:
from non_tracking_T_0 import *
from file_processing_loc import *

In [5]:
path = "data-examples/"
name = "Manip01-01-Beta400AA-01-15ms.rpt.xyt"
path_tot = path + name

In [6]:
print(path_tot)

data-examples/Manip01-01-Beta400AA-01-15ms.rpt.xyt

In [7]:
xyt, xyt_panda = load_xyt(path_tot)

In [8]:
xyt_panda.head(10)

           x          y  t
0   0.845731  42.934314  1
1   4.203122  45.861503  1
2   4.541229  43.296723  1
3   4.669349  24.987002  1
4   9.128056   5.750068  1
5   9.291481  25.775791  1
6  10.933386  10.883651  1
7  11.513642  36.864474  1
8  11.806695   6.789047  1
9  12.721850  10.531991  1

In [9]:
type(xyt)

numpy.ndarray

In [10]:
t_unique = np.unique(xyt[:,2])
nn       = t_unique.shape[0]

In [11]:
nn

20000

In [12]:
movie_per_frame, n_unique	= convert_to_list(xyt)

In [13]:
type(movie_per_frame)

list

In [14]:
dt_theo, t_init, t_end = get_dt(movie_per_frame, n_unique)

In [15]:
sigma, D_high, length_high = get_local_parameters_accessible_elsewhere_in_tramway(dt_theo)

In [16]:
C = get_cost_function(10, movie_per_frame)

In [17]:
(M,N)            = C.shape

l2               = length_high**2
C[C>l2]          = np.inf

non_inf = ~np.isinf(C)
num_col = np.sum(non_inf,axis=0)
num_row = np.sum(non_inf,axis=1)

row_reduced  = np.where(num_row != 0);
col_reduced  = np.where(num_col != 0);
print(row_reduced)


nn     = np.maximum(np.size(row_reduced),np.size(col_reduced));
CC = np.squeeze(C[row_reduced,:])
CC[np.isinf(CC)]= np.amax(CC,where=~np.isinf(CC), initial=-1)

row_ind, col_ind = linear_sum_assignment(CC)

(array([ 0,  1,  4,  7,  8,  9, 11, 12, 14, 15, 16, 17, 18, 19, 21, 22, 23,
       25, 26, 27, 29, 31, 32, 33, 34, 35, 36, 38, 39, 40]),)

In [18]:
CC.shape

(30, 42)

In [19]:
assingment       = np.zeros((M,N))
assingment[row_reduced,col_ind]     = 1

In [20]:
print(assingment)

[[0. 1. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [21]:
CC.shape

(30, 42)

In [22]:
print(CC)

[[2.32709089 0.0227793  2.32709089 ... 2.32709089 2.32709089 2.32709089]
 [2.32709089 2.32709089 2.32709089 ... 2.32709089 2.32709089 2.32709089]
 [2.32709089 2.32709089 2.32709089 ... 2.32709089 2.32709089 2.32709089]
 ...
 [2.32709089 2.32709089 2.32709089 ... 2.32709089 2.32709089 2.32709089]
 [2.32709089 2.32709089 2.32709089 ... 2.32709089 2.32709089 2.32709089]
 [2.32709089 2.32709089 2.32709089 ... 2.32709089 2.32709089 2.32709089]]

In [23]:
np.amax(CC)

2.3270908856740036

In [24]:
row_ind, col_ind =linear_sum_assignment(CC)

In [25]:
print(row_ind)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29]

In [26]:
print(col_ind.shape)

(30,)

In [27]:
print(num_row)

[1 1 0 0 1 0 0 1 1 1 0 2 1 0 1 1 1 1 1 1 0 1 2 2 0 1 1 1 0 1 0 1 1 1 2 2 1
 0 1 1 1 0 0]

.. code-block: matlab
    
    nn     = max(length(row_reduced),length(col_reduced));
    distance_matrix_reduced = zeros(nn);
    distance_matrix_reduced(1:length(row_reduced),1:length(col_reduced)) = distance_matrix(row_reduced,col_reduced);
    d_max = max(distance_matrix_reduced(distance_matrix_reduced(:)~=Inf));
    
    edge     = distance_matrix_reduced;
    II       = distance_matrix_reduced ~= Inf;
    edge(II) = 0;
     
    [n_add] = correct_deficiency(edge);        
    nn      = nn+n_add;

42*43

.. code-block: matlab

    C(II) = 1000

In [29]:
D_high

np.abs(A[:,np.newaxis] - B)

NameError: name 'A' is not defined

In [ ]:
test = movie_per_frame[1][:,np.newaxis] - B

In [ ]:
x2 = movie_per_frame[4][:,1]
x1 = movie_per_frame[0][:,1]
print((x1.shape,x2.shape))